<!DOCTYPE html>
<html lang="en" ng-app="notesApp">
<head>
    <meta charset="UTF-8">
    <title>Chapter 4</title>
</head>
<body ng-controller="MainCtrl as ctrl">

    <input type="text" ng-model="ctrl.username">
    <input type="password" ng-model="ctrl.password">
    <button ng-click="ctrl.change()">Change Values</button>
    <button ng-click="ctrl.submit()">Submit</button>

    <script src="../bower_components/angular/angular.min.js"></script>
    <script>
    angular.module('notesApp', [])
    .controller('MainCtrl', [function () {
        console.log('Siruin');
        this.change = function () {
          console.log('change');
        };
        this.submit = function () {
          console.log('submit');
        };
    }]);
    </script>
</body>
</html>
