<!DOCTYPE html>
<html lang="en" ng-app="notesApp">
<head>
    <meta charset="UTF-8">
    <title>Chapter 4</title>
</head>
<body ng-controller="MainCtrl as ctrl">

    <input type="text" ng-model="ctrl.username">
    <input type="password" ng-model="ctrl.password">
    <button ng-click="ctrl.change()">Change Values</button>
    <button ng-click="ctrl.submit()">Submit</button>

    <script src="../libs/angular/angular.min.js"></script>
    <script>
    angular.module('notesApp', [])
    .controller('MainCtrl', [function () {
        var _this = this;

        this.change = function () {
          _this.username = 'changed';
          _this.password = 'password';
        };
        this.submit = function () {
          console.log('Submit button clicked with ', _this.username, _this.password);
        };
    }]);
    </script>
</body>
</html>
